<h1>Edit Student</h1>
<div class="container">
  <%= render partial: 'shared/student_form', locals: {student: @student, action: 'update'} %>
</div>
<p><a href="<%= url_for action: 'show' %>">Cancel</a></p>
