<% content_for :header_content do %>
  <span class="mdl-layout-title">Students</span>
  <%= render partial: '/shared/header_button', locals: {href: new_student_path, title: 'Add Student'} %>
<% end %>

<div class="students-table-wrapper">
  <%= render partial: "shared/students_table", locals: {students: @students} %>
</div>