- content_for :title, t(:general_analytics)

= content_for :head_content
  meta name="turbolinks-cache-control" content="no-cache"
  = javascript_include_tag 'analytics'

= content_for :header_content do
  = render partial: '/shared/header_content', locals: { title: 'General Analytics' }

= render '/shared/analytics_tabs'

= form_tag do
  table
    tr
      td style="padding-right: 20px;"
        = label_tag :organization_label, "Organization"
        = select_tag :organization_select, options_from_collection_for_select(@available_organizations, :id, :organization_name, @selected_organization_id), :prompt => 'All'
      td style="padding-right: 20px;"
        = label_tag :chapter_label, "Chapter"
        = select_tag :chapter_select, options_from_collection_for_select(@available_chapters, :id, :chapter_name, @selected_chapter_id), :prompt => 'All'
      td style="padding-right: 20px;"
        = label_tag :group_label, "Group"
        = select_tag :group_select, options_from_collection_for_select(@available_groups, :id, :group_name, @selected_group_id), :prompt => 'All'
      td style="padding-right: 20px;"
        = label_tag :student_label, "Student"
        = select_tag :student_select, options_from_collection_for_select(@available_students, :id, :proper_name, @selected_student_id), :prompt => 'All'
      td style="padding-right: 20px;"
        = submit_tag "Submit"

table style="width: 100%; table-layout: fixed;"
  tr
    td style="width: 50%;"
      div id="chart2" style="width:100%; height:400px;"
    td style="width: 50%;"
      div id="chart4" style="width:100%; height:400px;"
  tr
    td style="width: 50%;"
      div id="chart5" style="width:100%; height:400px;"
    td style="width: 50%;"
      div id="chart6" style="width:100%; height:400px;"
  tr
    td style="width: 50%;"
      div id="chart10" style="width:100%; height:400px;"

= render '/shared/analytics_common'

javascript:
  updateDropdown($('#chapter_select'), filteredChapters().map(function(c) {return {label: c.chapter_name, value: c.id}; }));
  updateDropdown($('#group_select'), filteredGroups().map(function(g) {return {label: g.group_name, value: g.id}; }));
  updateDropdown($('#student_select'), filteredStudents().map(function(s) {return {label: s.proper_name, value: s.id}; }));

  $('#organization_select').change(function () {
    updateDropdown($('#chapter_select'), filteredChapters().map(function(c) {return {label: c.chapter_name, value: c.id}; }));
  });

  $('#chapter_select').change(function () {
    updateDropdown($('#group_select'), filteredGroups().map(function(g) {return {label: g.group_name, value: g.id}; }));
  });

  $('#group_select').change(function () {
    updateDropdown($('#student_select'), filteredStudents().map(function(s) {return {label: s.proper_name, value: s.id}; }));
  });

  function startAnalytics() {
      var Chart2 = Highcharts.chart('chart2', {
          chart: {
              type: 'column',
              zoomType: 'x'
          },
          legend: {
              enabled: false
          },
          credits: {
              enabled: false
          },
          exporting: {
            filename: 'quantity-of-data-chart',
            buttons: {
              contextButton: {
                menuItems: [
                  'downloadPNG',
                  'downloadJPEG',
                  'downloadPDF',
                  'downloadSVG'
                ]
              }
            },
            fallbackToExportServer: false
          },
          title: {
              text: '#{{ t(:title_chart_2)}}'
          },
          xAxis: {
              title: {
                  text: '#{{ t(:month) }}'
              },
              categories: #{{ @categories2.html_safe }}
          },
          yAxis: {
              title: {
                  text: '#{{ t(:nr_of_assessments) }}'
              }
          },
          series: #{{ @series2.html_safe }}
      });

      var Chart4 = Highcharts.chart('chart4', {
          chart: {
              type: 'column'
          },
          legend: {
              enabled: false
          },
          credits: {
              enabled: false
          },
          tooltip: {
              valueDecimals: 1
          },
          exporting: {
            filename: 'histogram-performance-chart',
            buttons: {
              contextButton: {
                menuItems: [
                  'downloadPNG',
                  'downloadJPEG',
                  'downloadPDF',
                  'downloadSVG'
                ]
              }
            },
            fallbackToExportServer: false
          },
          title: {
              text: '#{{ t(:title_chart_4)}}'
          },
          xAxis: {
              title: {
                  text: '#{{ t(:performance) }}'
              }
          },
          yAxis: {
              title: {
                  text: '#{{ t(:frequency_perc) }}'
              }
          },
          series: #{{ @series4.html_safe }}
      });

      var Chart5 = Highcharts.chart('chart5', {
          chart: {
              type: 'column'
          },
          legend: {
              enabled: false
          },
          credits: {
              enabled: false
          },
          tooltip: {
              valueDecimals: 1
          },
          exporting: {
            filename: 'performance-change-chart',
            buttons: {
              contextButton: {
                menuItems: [
                  'downloadPNG',
                  'downloadJPEG',
                  'downloadPDF',
                  'downloadSVG'
                ]
              }
            },
            fallbackToExportServer: false
          },
          title: {
              text: '#{{ t(:title_chart_5)}}'
          },
          xAxis: {
              title: {
                  text: '#{{ t(:performance_change) }}'
              }
          },
          yAxis: {
              title: {
                  text: '#{{ t(:frequency_perc) }}'
              }
          },
          series: #{{ @series5.html_safe }}
      });

      var Chart6 = Highcharts.chart('chart6', {
          chart: {
              type: 'column'
          },
          legend: {
              enabled: true
          },
          credits: {
              enabled: false
          },
          tooltip: {
              valueDecimals: 1
          },
          title: {
              text: '#{{ t(:title_chart_6)}}'
          },
          exporting: {
            filename: 'gender-performance-change-chart',
            buttons: {
              contextButton: {
                menuItems: [
                  'downloadPNG',
                  'downloadJPEG',
                  'downloadPDF',
                  'downloadSVG'
                ]
              }
            },
            fallbackToExportServer: false
          },
          xAxis: {
              title: {
                  text: '#{{ t(:performance_change) }}'
              }
          },
          yAxis: {
              title: {
                  text: '#{{ t(:frequency_perc) }}'
              }
          },
          series: #{{ @series6.html_safe }}
      });

      var Chart10 = Highcharts.chart('chart10', {
          chart: {
              type: 'scatter',
              zoomType: 'x'
          },
          legend: {
              enabled: true
          },
          credits: {
              enabled: false
          },
          tooltip: {
            formatter: function () {
              return '<span style="color:' + this.point.color + '">\u25CF</span> ' + this.series.name +
                '<br/><span>x: <span style="font-weight: bold">' + this.point.x + '</span></span>' +
                '<br/><span>y: <span style="font-weight: bold">' + this.point.y + '</span></span>' +
                (this.point.date ? '<br/><span>#{t(:lesson_date)}: ' + this.point.date + '</span>' : '');
            }
          },
          exporting: {
            filename: 'average-performance-chart',
            buttons: {
              contextButton: {
                menuItems: [
                  'downloadPNG',
                  'downloadJPEG',
                  'downloadPDF',
                  'downloadSVG'
                ]
              }
            },
            fallbackToExportServer: false
          },
          title: {
              text: '#{{ t(:title_chart_8)}}'
          },
          xAxis: {
              title: {
                  text: '#{{ t(:nr_of_lessons) }}'
              }
          },
          yAxis: {
              title: {
                  text: '#{{ t(:performance)}}'
              }
          },
          plotOptions: {
            series: {
              events: {
                click: function (e, a1, a2) {
                  if (e.point.lesson_url) {
                    window.open(e.point.lesson_url, '_blank');
                  }
                }
              },
              cursor: 'pointer',
              marker: {
                radius: 2
              }
            }
          },
          series: #{{ @series10.html_safe }}
      });
  }

  function pollForHighcharts (cb) {
    if (window.Highcharts) {
      cb()
    } else {
      setTimeout(pollForHighcharts.bind(this, cb), 100);
    }
  }

  pollForHighcharts(startAnalytics);
