<%= hidden_field_tag "students[#{index}][id]", student.id %>
<div class="px-2 py-0.25 rounded-md text-md font-medium bg-gray-100 text-purple-80">
  <%= student.proper_name %>
</div>
<div class="table-cell">
  <%= check_box_tag "students[#{index}][to_enroll]", class: 'h-4 w-4 ml-4 border-purple-500 focus:ring-green-600 cursor-pointer' , checked: false %>
</div>
<div class="table-cell">
  <%= render Datepicker.new(date: Date.current, target: 'enrollment_start_date', custom_name: "students[#{index}][enrollment_start_date]") %>
</div>