- content_for :header_content do
  = render partial: '/shared/header_content', locals: { back_button_url: group_path(@group), back_tooltip: "Back to #{@group.group_name}", title: "Edit #{@group.group_name}" }

.content-card--most.center
  = render partial: 'shared/group_form', locals: {group: @group, action: 'update'}
