<div class="nested-fields clearfix jumbotron">
    <%= f.input :mark %>
    <%= f.input :grade_description %>
    <%= link_to_remove_association 'Remove Grade Descriptor', f, class:'btn btn-outline-danger btn-sm' %>
</div>