<table class="table table-striped table-hover resource-table skills-table">
  <thead>
    <tr>
      <th>Skill Name</th>
      <th>Organization</th>
    </tr>
  </thead>
  <% skills.each do |skill| %>
    <%= render partial: "skills/skill_row", locals: {skill: skill} %>
  <% end %>
</table>
