<tr class="resource-row skill-row">
    <td><a class="resource-row-link skill-row-link" href=""><%= skill.skill_name %></a></td>
    <td><a class="resource-row-link skill-row-link" href=""><%= skill.organization.organization_name %></a></td>
</tr>
