<tr class="resource-row skill-row">
    <td><%= link_to skill.skill_name, skill, class: 'resource-row-link skill-row-link' %></td>
    <td><%= link_to skill.organization.organization_name, skill, class: 'resource-row-link skill-row-link' %></td>
</tr>
