<%- content_for :title, t(:skills).capitalize %>

<%= render LayoutComponents::HeaderComponent.new(current_user: current_user, tabs: [
  {title: CommonComponents::TagLabel.new(label: t(:skills).capitalize, img_src: 'skill.svg'), href: '' },
], buttons: [
  (CommonComponents::ButtonComponent.new(label: t(:add_skill), href: new_skill_path) if policy(Skill).new?)
].compact) %>

<%= render TableComponents::Table.new(pagy: @pagy, rows: @skills.uniq, row_component: TableComponents::SkillRow) do |t|
t.with_left do %>
<div class="flex items-center justify-between">
  <div class="flex-1">
    <%= render SearchFormComponent.new(search: { term: params[:search] }, query_parameters: request.query_parameters) %>
  </div>
  <div class="flex-1 px-4">
    <%= render CommonComponents::CheckboxLink.new(label: t(:show_deleted), checked: !excluding_deleted?, href: show_deleted_url) %>
  </div>
</div>
<% end
   end
%>

