div class="mdl-layout__drawer mdl-color--primary mdl-color-text--white main-drawer"
  header class="drawer-header"
    = link_to image_tag(current_user_image, class: 'user-image'), main_app.user_path(current_user)
    p
      = current_user.email
  nav class="mdl-navigation mdl-color--white main-nav"
    = render partial: 'shared/main_nav_item', locals: {name: "Students", svg_icon: 'person.svg', url: main_app.students_path}
    = render partial: 'shared/main_nav_item', locals: {name: "Groups", svg_icon: 'group.svg', url: main_app.groups_path}
    = render partial: 'shared/main_nav_item', locals: {name: "Chapters", svg_icon: 'dvr.svg', url: main_app.chapters_path}
    = render partial: 'shared/main_nav_item', locals: {name: "Organizations", svg_icon: 'public.svg', url: main_app.organizations_path}
    = render partial: 'shared/main_nav_item', locals: {name: "Users", svg_icon:'contacts.svg', url: main_app.users_path}
    = render partial: 'shared/main_nav_item', locals: {name: "Lessons", svg_icon: 'assignment.svg', url: main_app.lessons_path}
    = render partial: 'shared/main_nav_item', locals: {name: "Subjects", svg_icon: 'local_library.svg', url: main_app.subjects_path}
    = render partial: 'shared/main_nav_item', locals: {name: "Skills", svg_icon: 'lightbulb_outline.svg', url: main_app.skills_path}
    = render partial: 'shared/main_nav_item', locals: {name: "Analytics", svg_icon: 'insert_chart.svg', url: '/analytics'} if defined? MindleapsAnalytics
    .mdl-layout-spacer
    = render partial: 'shared/main_nav_item', locals: {name: "Logout", svg_icon: 'exit_to_app.svg', url: '/sign_out'}
