<% if subject.errors.any? %>
  <div id="error_explanation">
    <ul class="alert-danger">
    <% subject.errors.messages.values.flatten.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>