<% if defined? back_button_url %>
  <a id="back-button" href="<%= back_button_url %>" class="mdl-button mdl-js-button mdl-button--icon unset-color">
    <i class="material-icons">arrow_back</i>
  </a>
  <% if defined? back_tooltip %>
    <div class="mdl-tooltip" data-mdl-for="back-button"><%= back_tooltip %></div>
  <% end %>
<% end %>

<span class="mdl-layout-title"><%= title %></span>

<%= yield %>