<tr class="resource-row lesson-row">
    <td><a class="resource-row-link lesson-row-link"><%= lesson.group.group_name %></a></td>
    <td><a class="resource-row-link lesson-row-link"><%= lesson.date %></a></td>
    <td><a class="resource-row-link lesson-row-link"><%= lesson.subject.subject_name %></a></td>
</tr>
