a class="mdl-navigation__link nav-link#{current_page?(url) ? ' mdl-navigation__link--current' : ' mdl-js-button mdl-js-ripple-effect'}" disabled=('disabled' if current_page?(url)) href=(url unless current_page?(url))
  = inline_svg_tag svg_icon, class: 'nav-icon'
  = name
