<tr class="resource-row member-row">
  <td><a class="resource-row-link member-row-link" href="<%= url_for member %>"><%= member.name %></a></td>
  <td><a class="resource-row-link member-row-link" href="<%= url_for member %>"></a></td>
</tr>
