<tr class="resource-row user-row">
    <td><a class="resource-row-link user-row-link" href=""><%= user.name %></a></td>
    <td><a class="resource-row-link user-row-link" href=""><%= user.email %></a></td>
    <td><a class="resource-row-link user-row-link" href=""><%= user.is_super_admin? %></a></td>
</tr>
