<div class="flex items-center lg:hidden" data-controller="avatar">
  <div class="ml-3 relative">
    <div>
      <button type="button" class="max-w-xs bg-white flex items-center text-sm rounded-full focus:outline-hidden focus:ring-2 focus:ring-offset-2 focus:ring-purple-500" id="user-menu-button" aria-expanded="false" aria-haspopup="true" data-avatar-target="button" data-action="click->avatar#toggleDropdown click@window->avatar#closeDropdown">
        <span class="sr-only">Open user menu</span>
        <%= image_tag user_image, class: 'h-8 w-8 rounded-full' %>
      </button>
    </div>
    <div class="origin-top-right absolute right-0 mt-2 w-48 rounded-md shadow-lg bg-white ring-1 ring-black ring-opacity-5 divide-y divide-gray-200 focus:outline-hidden transition transform opacity-0" role="menu" aria-orientation="vertical" aria-labelledby="user-menu-button" tabindex="-1" data-avatar-target="dropdown">
      <div class="py-1" role="none">
        <a href="<%= current_user_path %>" class="text-gray-700 block px-4 py-2 text-sm hover:bg-gray-100 hover:text-gray-900" role="menuitem" tabindex="-1" id="options-menu-item-0">View profile</a>
      </div>
      <div class="py-1" role="none">
        <a href="#" class="text-gray-700 block px-4 py-2 text-sm hover:bg-gray-100 hover:text-gray-900" role="menuitem" tabindex="-1" id="options-menu-item-0">Logout</a>
      </div>
    </div>
  </div>
</div>
