---
- hosts: server
  tasks:
  - name: Install required packages
    sudo: true
    apt: pkg={{ item }} state=installed
    with_items:
      - build-essential
      - curl
      - git
      - git-core
      - libcurl4-openssl-dev
      - libgmp3-dev
      - libpq-dev
      - libreadline-dev
      - libsqlite3-dev
      - libssl-dev
      - libxml2-dev
      - libxslt1-dev
      - libyaml-dev
      - nginx
      - sqlite3
      - zlib1g-dev

  - name: Install rvm dependencies
    sudo: true
    apt: pkg={{ item }} update_cache=yes state=installed
    with_items:
      - automake
      - bison
      - libffi-dev
      - libgdbm-dev
      - libncurses5-dev
      - libtool

  - name: Create the mindleaps user
    sudo: true
    user: name=mindleaps

  - name: Trust RVM public key
    sudo: true
    sudo_user: mindleaps
    shell: "\\gpg --keyserver hkp://keys.gnupg.net --recv-keys 409B6B1796C275462A1703113804BB82D39DC0E3"

  - name: Get rvm
    sudo: true
    sudo_user: mindleaps
    shell: "\\curl -L https://get.rvm.io | bash -s stable --ignore-dotfiles"
    args:
      creates: "/home/mindleaps/.rvm"

  - name: Dont install documentation with gems
    sudo: true
    sudo_user: mindleaps
    command: 'echo "gem: --no-ri --no-rdoc" > ~/.gemrc creates=~/.gemrc'

  - name: Add rvm to bashrc
    sudo: true
    sudo_user: mindleaps
    lineinfile:
      dest="~/.bashrc"
      state=present
      line="source ~/.rvm/scripts/rvm"
      insertafter=EOF

  - name: Copy the source to the machine
    sudo: true
    sudo_user: mindleaps
    synchronize: dest=/home/mindleaps/tracker src=../../ owner=no group=no

  - name: Grant the rails app access to tmp
    sudo: true
    file: dest=/home/mindleaps/tracker/tmp owner=mindleaps group=mindleaps mode=0700 state=directory recurse=yes

  - name: Install libs required by RVM
    sudo: true
    shell: /home/mindleaps/.rvm/bin/rvm --autolibs=enabled requirements `cat ~/tracker/.ruby-version`

  - name: Install the ruby version needed by mindleaps
    sudo: true
    sudo_user: mindleaps
    shell: ~/.rvm/bin/rvm install `cat ~/tracker/.ruby-version`

  - name: Install Bundler
    sudo: true
    sudo_user: mindleaps
    shell: ~/.rvm/bin/rvm all do gem install bundler chdir=/home/mindleaps/tracker

  - name: Install all gems
    sudo: true
    sudo_user: mindleaps
    shell: ~/.rvm/bin/rvm all do bundle install chdir=/home/mindleaps/tracker

  - name: Install the upstart script for tracker
    sudo: true
    template: src=tracker.conf dest=/etc/init/tracker.conf

  - name: Start tracker
    sudo: true
    service: name=tracker state=started
