<div class="my-6 divide-y divide-gray-200">
    <h2 class="py-1 bg-purple-700 text-white inline-block ml-6 px-3 rounded-t-lg">
        <%= @title %>
    </h2>
    <div class="shadow-lg">
        <%= card_content %>
    </div>
</div>