<%= inline_svg_tag @img_src, class: 'w-4 h-4 inline align-text-top stroke-inherit' %>
<div class="pl-1 relative">
  <p class="truncate max-w-xl whitespace-nowrap">
    <%= @label %>
  </p>
  <%= render CommonComponents::TooltipComponent.new(label: @label, show: true) %>
</div>
