<%= helpers.inline_svg_tag @img_src, class: 'w-4 h-4 inline align-text-top stroke-inherit' %>
<div class="max-w-56 self-center inline-block pl-1 relative group ">
  <p class="truncate whitespace-nowrap">
    <%= @label %>
  </p>
  <%= render CommonComponents::TooltipComponent.new(text: @label) if @label.length > 30 %>
</div>
