<tr class="resource-row subject-row">
    <td><a class="resource-row-link subject-row-link" href=""><%= subject.subject_name %></a></td>
    <td><a class="resource-row-link subject-row-link" href=""><%= subject.organization.organization_name %></a></td>
    <td><a class="resource-row-link subject-row-link text-xs-center" href=""><%= subject.skills.length %></a></td>
</tr>
