- content_for :header_content do
  = render layout: '/shared/header_content', locals: {title: 'Subjects'} do
    = render partial: '/shared/main_header_button', locals: {href: new_subject_path, title: 'Add Subject'}

.single-content-card
  = render partial: "subjects/subjects_table", locals: {subjects: @subjects}
