$template messageOnly, "%msg%\n"

if ($programname == 'mindleaps-tracker') then {
    action(type="omfile" dirCreateMode="0644" FileCreateMode="0644" File="/var/log/mindleaps-tracker/mindleaps-tracker.log" Template="messageOnly")
}
