[Unit]
Description=Mindleaps Tracker Rails App
After=network.target

[Service]
Type=simple
User=mindleaps
WorkingDirectory=/home/mindleaps/tracker

Environment=SECRET_KEY_BASE={{ secret_key_base }}
Environment=DEVISE_SECRET_KEY={{ devise_secret_key }}
Environment=GOOGLE_CLIENT_ID={{ google_client_id }}
Environment=GOOGLE_CLIENT_SECRET={{ google_client_secret }}
Environment=SKYLIGHT_AUTHENTICATION={{ skylight_authentication }}
Environment=NEW_RELIC_LICENSE_KEY={{ new_relic_license_key }}
Environment="NEW_RELIC_APP_NAME={{ new_relic_app_name }}"
Environment=DOMAIN={{ deploy_domain }}
Environment=RAILS_ENV=production
Environment=HOME=/home/mindleaps
Environment=AWS_ACCESS_KEY_ID={{ aws_access_key_id }}
Environment=AWS_SECRET_ACCESS_KEY={{ aws_secret_access_key }}
Environment=AWS_BUCKET_NAME={{ aws_bucket_name }}
Environment=AWS_REGION={{ aws_region }}
ExecStart=/home/mindleaps/.rvm/bin/rvm all do rails s

Restart=always

[Install]
WantedBy=multi-user.target
