- content_for :header_content do
  = render partial: '/shared/header_content', locals: { back_button_url: student_path(@student), back_tooltip: "Back to #{@student.proper_name}", title: "#{@student.proper_name} Images" }

= t :student_has_no_images if @student.student_images.length == 0

- @student.student_images.each do |student_image|
    .card.student-image-card
      = image_tag student_image.image.medium.url, class: 'student-image card-img-top'
      .card-block
        = button_to 'Set as Profile', @student,method: :patch, params: { student: { profile_image_id: student_image.id } },
                      class: 'btn btn-primary', disabled: @student.profile_image_id == student_image.id, form_class: 'center-text'

.image-upload
  = simple_form_for @new_image, url: {action: :create}, html: {multipart: true} do |f|
      = f.input :image, as: :file, input_html: {multiple: true }
      = f.button :submit, 'Upload', class: 'btn-outline-success'
