<div class="<%= 'shaded-row' if shaded? %> table-row-wrapper">
  <a class="<%= 'shaded-row' if shaded? %> table-row-wrapper">
    <div class="table-cell "><%= @item.mark %></div>
    <div class="text-right table-cell "><%= @item.grade_description %></div>
  </a>
</div>
