<%= render CommonComponents::PaginationComponent.new(pagy: @pagy) %>
<div class="overflow-x-scroll">
  <div class="grid" style="grid-template-columns: repeat(<%= @row_component.columns.count %>, minmax(min-content, auto))">
    <%= render TableComponents::Column.with_collection(@row_component::columns) %>
    <%= render @row_component.with_collection(@rows, pagy: @pagy) %>
  </div>
</div>
