<div class="<%= @numeric ? 'text-left' : 'text-right' %> px-4 py-3 border-b border-gray-200 bg-gray-50 text-xs font-medium text-gray-500 uppercase tracking-wider <%= @column_span ? "col-span-#{@column_span}" : '' %>">
  <span class="align-sub"><%= @column_name %></span>
</div>
