<%- content_for :title, "#{t(:edit_chapter).capitalize} - #{@chapter.chapter_name}"%>

<%= render LayoutComponents::HeaderComponent.new(current_user: current_user, tabs: [
  {title: "#{t(:edit_chapter)} - #{@chapter.chapter_name}", href: '' },
], buttons: [
].compact)  do |h|
  h.with_left do
    render CommonComponents::Breadcrumbs.new(current: { label:  CommonComponents::TagLabel.new(label: @chapter.chapter_name, img_src: 'chapter.svg')}, crumbs: [
      { label:  CommonComponents::TagLabel.new(label: @chapter.organization_name, img_src: 'world.svg'), href: organization_path(@chapter.organization), svg_icon: 'world.svg' },
    ])
  end
end %>

<div class="content-card mdl-cell--8-col card-padding center">
  <%= render ChapterFormComponent.new(chapter: @chapter, action: :update, current_user: current_user) %>
</div>
