- content_for :header_content do
  = render layout: '/shared/header_content', locals: { title: 'Chapters' } do
    = render partial: '/shared/main_header_button', locals: {href: new_chapter_path, title: 'Add Chapter'}

.single-content-card
  = render partial: 'shared/chapters_table', locals: {chapters: @chapters}
