<%- content_for :title, t(:countries).capitalize %>

<%= render LayoutComponents::HeaderComponent.new(current_user: current_user, tabs: [
  {title: CommonComponents::TagLabel.new(label: t(:organizations).capitalize, img_src: 'organization.svg'), href: organizations_path },
  {title: CommonComponents::TagLabel.new(label: t(:countries), img_src: 'world.svg'), href: '' }
], buttons: [
  (CommonComponents::ButtonComponent.new(label: t(:add_country), href: new_country_path, options: { data: { turbo_stream: true } }) if policy(Country).new?)
].compact) %>

<div id="new_country"></div>
<%= render TableComponents::Table.new(pagy: @pagy, rows: @tags, row_component: TableComponents::StudentTagRow)  do |t|
  t.with_left do %>
    <div class="flex items-center justify-between">
      <div class="flex-1">
        <%= render SearchFormComponent.new(search: { term: params[:search] }, query_parameters: request.query_parameters) %>
      </div>
      <div class="flex-1 px-4">
      </div>
    </div>
  <% end %>
<% end %>
