.nav {
  list-style: none;
  padding: 0;
}

.nav_item {
  display: inline;
  margin-right: 15px;
}

.disabled-link {
  pointer-events: none;
}

.disabled-tab {
  pointer-events: none;
  opacity: 0.5;
}

.unset-color {
  color: unset;
}

.unset-color:visited, .unset-color:hover {
  color:unset;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.card-navigation [disabled] {
  opacity: 0.2;
}

.card-navigation svg {
  fill: white;
}

.mdl-badge:after {
  color: white !important;
  background-color: var(--primary-color) !important;
}

.hidden {
  display: none;
}

.pagy_nav {
  vertical-align: middle;
  display: inline-block;
}

.pagy_nav a {
  opacity: 0.54;
}

.pagy_nav a[disabled] {
  opacity: 0.2;
}