.nav {
  list-style: none;
  padding: 0;
}

.nav_item {
  display: inline;
  margin-right: 15px;
}

.disabled-link {
  pointer-events: none;
}

.unset-color {
  &:visited, &:hover {
    color:unset;
  }
  color: unset;
}

.delete-button {
  @extend .mdl-button;
  @extend .mdl-color-text--red;
}
