@mixin row-link {
  &:before {
    content: "";
    display: inline-block;
    height: 100%;
    vertical-align: middle;
  }
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.nav {
  list-style: none;
  padding: 0;
}

.nav_item {
  display: inline;
  margin-right: 15px;
}

.disabled-link {
  pointer-events: none;
}

table.resource-table {
  a {
    color: unset;
    @include row-link;
    padding: 12px 18px;
    box-sizing: border-box;
  }
  tbody{
    td {
      padding: 0 !important;
    }
    .resource-row-link-small-padding {
      @include row-link;
      padding: 4px;
    }
  }
}

.unset-color {
  &:visited, &:hover {
    color:unset;
  }
  color: unset;
}

.delete-button {
  @extend .mdl-button;
  @extend .mdl-color-text--red;
}
