.nav {
  list-style: none;
  padding: 0;
}

.nav_item {
  display: inline;
  margin-right: 15px;
}

.disabled-link {
  pointer-events: none;
}

.disabled-tab {
  pointer-events: none;
  opacity: 0.5;
}

.unset-color {
  &:visited, &:hover {
    color:unset;
  }
  color: unset;
}

.delete-button {
  @extend .mdl-button;
  @extend .mdl-color-text--red;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.card-navigation {
  [disabled] {
    opacity: 0.2;
  }
  svg {
    fill: white;
  }
}

.mdl-badge:after {
  color: white !important;
  background-color: $primary-color !important;
}

.hidden {
  display: none;
}