$snackbar-transition-duration: 0.5s;
$snackbar-transition-easing: ease-in-out;

.snackbar {
  display: inline-block;
  background: $snackbar-color;
  position: absolute;
  bottom: 0;
  left: 50%;
  text-align: center;
  margin-top: 1rem;
  color: white;
  padding: 2px 15px;
  line-height: 40px;
  transform: translateX(-50%);
  transition: bottom $snackbar-transition-duration;
  will-change: bottom;
  animation: snackbar-out $snackbar-transition-duration $snackbar-transition-easing 5s forwards;

  &:hover {
    animation: snackbar-out $snackbar-transition-duration $snackbar-transition-easing 0s backwards reverse;
  }

  form {
    display: inline;
  }
}

.snackbar-action-button {
  @extend .mdl-button;
  color: $snackbar-action-color;
}

@keyframes snackbar-out {
  to {bottom: -30px}
}