@mixin cell-padding {
  &:before {
    content: "";
    display: inline-block;
    height: 100%;
    vertical-align: middle;
  }
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

.table-meta-header {
  .flex {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }

  .page-info {
    vertical-align: middle;
  }
  a {
    label {
      pointer-events: none;
    }
  }
  nav {
    vertical-align: middle;
    display: inline-block;
    a {
      opacity: 0.54;
      &[disabled] {
        opacity: 0.2;
      }
    }
  }
  .table-option {
    margin: 0 10px;
    font-size: 12px;
    .mdl-checkbox__label {
      font-size: unset;
    }
  }
}

table.resource-table {
  min-width: 100%;
  table-layout: fixed;
  th a {
    color: inherit;
    font-weight: inherit;
    text-decoration: none;
    svg {
      fill: $nav-color;
    }
  }
  tbody{
    td {
      padding-top: 0;
      padding-bottom: 0;
    }

    td > a {
      color: unset;
      text-decoration: none;
      cursor: pointer;

      &:not(.mdl-button) {
        @include cell-padding;
      }
    }

    .deleted-row {
      td > a {
        text-decoration: line-through;
      }
    }
  }

  .mdl-tooltip {
    max-width: 100%;
  }
}

.table-action-icon {
  img {
    width: 20px;
    opacity: 0.6;
  }

  &:hover {
    img {
      opacity: 1;
    }
  }
}
