.table-meta-header .page-info {
  vertical-align: middle;
}
.table-meta-header a label {
  pointer-events: none;
}

.table-meta-header .table-option {
  margin: 0 10px;
  font-size: 12px;
}

.table-meta-header .table-option .mdl-checkbox__label {
  font-size: unset;
}

table.resource-table {
  min-width: 100%;
  table-layout: fixed;
}

table.resource-table th a {
  color: inherit;
  font-weight: inherit;
  text-decoration: none;
}

table.resource-table th a svg {
  fill: var(--nav-color);
}

table.resource-table tbody td {
  padding-top: 0;
  padding-bottom: 0;
}


table.resource-table tbody td > a {
    color: unset;
    text-decoration: none;
    cursor: pointer;
}

table.resource-table tbody td > a:not(.mdl-button) {
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

table.resource-table tbody td > a:not(.mdl-button):before {
  content: "";
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.deleted-row td > a {
  text-decoration: line-through;
}

table.resource-table .mdl-tooltip {
  max-width: 100%;
}

.table-action-icon img {
  width: 20px;
  opacity: 0.6;
}

.table-action-icon:hover img{
  opacity: 1;
}

.red-marked-row:before {
  content: '';
  width: 5px;
  height: 100%;
  position: absolute;
  left: 0;
  background: red;
}

.yellow-marked-row:before {
  content: '';
  width: 5px;
  height: 100%;
  position: absolute;
  left: 0;
  background: yellow;
}

.green-marked-row:before {
  content: '';
  width: 5px;
  height: 100%;
  position: absolute;
  left: 0;
  background: green;
}