/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *

*= require 'material.min'
*= require 'mdl-selectfield.min'
*= require '_colors'
*= require '_common'
*= require '_header'
*= require 'drawer'
*= require 'analytics'
*= require 'students'
*= require 'lessons'
*= require 'users'
*= require '_form'
*= require '_snackbar'
*= require '_tables'
*= require 'chartist'
*= require 'awesomplete.base'
*= require 'awesomplete.theme'
*/

.card-padding {
  padding: 16px;
}

.content-card {
  box-shadow:0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
  background-color:#fff;
  box-sizing:border-box;
}

.card-bottom-margin {
  margin-bottom: 8px;
}

.single-content-card {
  box-shadow:0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
  background-color: #fff !important;
  padding: 0 !important;
  max-width: 100%;
  min-width: 65%;
  overflow: auto;
  margin: 0 auto;
}

.mdl-card__title.primary {
  background: var(--dark-primary-color);
  color: var(--text-color);
  display: block;
}

@keyframes hideBehindHeader {
  0% {transform: translateY(0px);}
  100% {transform: translateY(-60px);}
}

.action-buttons form {
  display: inline-block;
}

.student-image-card {
  width: 250px;
  display: inline-block;
}

.student-image-card.student-image {
  width: 100%;
}

.center-text {
  text-align: center;
}

.radio-label {
  cursor: pointer;
}

.float-submit {
  float: left;
}

.center {
  margin: 0 auto;
}

.right {
  margin-left: auto;
}

.overflow-container {
  overflow: auto;
}

.mdl-tabs__tab.is-active {
  pointer-events: none;
}


#loading-bar {
  width: 100%;
  visibility: hidden;
}

#loading-bar.progressbar {
  background-color: var(--accent-color);
}

#loading-bar.bar2, #loading-bar.bar3 {
  display: none;
}

.full-width {
  width: 100%;
}

.no-padding {
  padding: 0;
}

.wrap {
  white-space: normal;
}

.mdl-card__title {
  color: white;
}

.mdl-card__title svg {
  fill: white;
}

.uppercase {
  text-transform: uppercase;
}

.faded {
  opacity: 0.6;
}