/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */

@import 'material.min';
@import 'common';
@import 'header';
@import 'drawer';
@import 'groups';
@import 'home';
@import 'students';
@import 'chapters';
@import 'users';

.boolean {
  label {
    cursor: pointer;
  }
  .form-check label {
    cursor: pointer;
    input {
      cursor: pointer;
      width: 15px;
      display: inline;
    }
  }
}

.simple_form {
  .btn {
    margin: 10px;
  }
}

.notices {
  position: absolute;
  width: 100%;
  text-align: center;
  margin-top: 1rem;

  .notice {
    display: inline-block;
    border: 1px solid transparent;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;

    form {
      display: inline
    }
  }
}

.content-card {
  @extend .mdl-shadow--2dp;
  @extend .mdl-color--white;
  padding: 8px;
}

.content-card--cell {
  @extend .content-card;
  @extend .mdl-cell;
}

.content-card--full {
  @extend .content-card--cell;
  @extend .mdl-cell--12-col;
}

.single-content-card {
  @extend .content-card;
  padding: 0 !important;
  max-width: 100%;
  overflow: auto;
  margin: 0 auto;
}

@keyframes hideBehindHeader{
  0% {transform: translateY(0px);}
  100% {transform: translateY(-60px);}
}

.action-buttons {
  form {
    display: inline-block
  }
}

.student-image-card {
  width: 250px;
  display: inline-block;

  .student-image {
    width: 100%;
  }
}

.center-text {
  text-align: center;
}

.radio-label {
  cursor: pointer;
}

.float-submit {
  float: left;
}

form .btn {
  margin: 10px;
  cursor: pointer;
}

