/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */

@import 'bootstrap';

@import 'common';
@import 'header';
@import 'groups';
@import 'home';
@import 'menu';
@import 'students';
@import 'chapters';
@import 'users';

.boolean {
  label {
    cursor: pointer;
  }
  .form-check label {
    @extend .form-control-lg;
    cursor: pointer;
    input {
      cursor: pointer;
      width: 15px;
      display: inline;
    }
  }
}

.main-container {
  margin-top: 60px;
}

.main-content {
  margin-top: 20px;
}

.simple_form {
  .btn {
    margin: 10px;
  }
}

.notices {
  position: absolute;
  width: 100%;
  text-align: center;
  margin-top: 1rem;
  z-index: -1;
  
  animation: hideBehindHeader 1s 2s 1;
  animation-fill-mode: forwards;
  .notice {
    display: inline-block;
    border: 1px solid transparent;
    @extend .alert-success;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
  }
}

@keyframes hideBehindHeader{
  0% {transform: translateY(0px);}
  100% {transform: translateY(-60px);}
}

.action-buttons {
  form {
    display: inline-block
  }
}
