@mixin row-link {
  display: block;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.nav {
  list-style: none;
  padding: 0;
}

.nav_item {
  display: inline;
  margin-right: 15px;
}

.disabled-link {
  pointer-events: none;
}

table.resource-table {
  tbody{
    td {
      padding: 0;
    }
    .resource-row-link {
      @include row-link;
      padding: 8px;
    }
    .resource-row-link-small-padding {
      @include row-link;
      padding: 4px;
    }
  }
}