header {
  text-align: center;
  padding: 20px 20px 0 20px;
  background: whitesmoke;
  box-shadow: 0px 0px 12px black;

  .main-nav {
    position: relative;
    top: 6px;
    border: none;
    .nav-link {
      padding: 1em;
      &:hover {
        border-color: transparent;
      }
    }
  }

  .user-image {
    border-radius: 50px;
    margin: 0 10px;
  }
}
