.snackbar-wrapper {
  position: fixed;
  z-index: 10;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  will-change: transform;
  animation: snackbar-out 0.4s ease-in 5s 1 normal forwards;
}

.snackbar {
  display: inline-block;
  background: $snackbar-color;
  text-align: center;
  margin-top: 1rem;
  color: white;
  padding: 2px 15px;
  line-height: 40px;

  form {
    display: inline;
  }
}

.snackbar-action-button {
  @extend .mdl-button;
  color: $snackbar-action-color;
}

@keyframes snackbar-out {
  from {transform: translate3d(0, 0%, 0)}
  to {transform: translate3d(0, 150%, 0)}
}
