.students-table-wrapper {
  @extend .content-card;
  padding: 0 !important;
  max-width: 100%;
  overflow: auto;
  margin: 0 auto;
}

.student-profile-image {
  max-width: 250px
}

.mini-thumb-profile-image {
  width: 32px;
}