// Place all the styles related to the students controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

table.students-table {
  tbody{
    td {
      padding: 0;
    }
    .student-row-link {
      display: block;
      width: 100%;
      height: 100%;
      padding: 8px;
      cursor: pointer;
    }
  }
}