.profile-image {
  width: 300px;
  border-radius: 150px;
}

.edit_user {
  .user_roles {
    label {
      margin: 5px 20px 5px 0;
      cursor: pointer;
    }
  }
}

.form-container {
  margin: 1rem 0;
  padding: 1rem;
  border: grey 1px solid
}