.user-profile-card {
  width: 100%;
}

.profile-image {
  width:100%;
  max-width: 300px;
  border-radius: 150px;
  margin: 0 auto 10px auto;
  display: block;
}

.role-administration-card {
  width: 100%;
  margin-bottom: 20px;
}

.global-role-radio {
  display: block;
  cursor: pointer;
}

.role-actions form {
  display: inline;
}
