# TYPE  DATABASE        USER            ADDRESS                     METHOD
local   all             postgres                                    peer

# "local" is for Unix domain socket connections only
local   all             all                                         trust

# IPv4 local connections:
host    all             all             {{ database_address }}/16   md5
