name: Build and Publish Docker Image

on:
  release:
    types: [published]

jobs:
  build_image:
    runs-on: ubuntu-latest

    permissions:
      contents: read
      packages: write

    steps:
      - uses: actions/checkout@v4
      - uses: docker/setup-buildx-action@v3
      - uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - uses: docker/build-push-action@v6
        with:
          context: .
          push: true
          build-args: |
            APP_ENV=prod
          tags: |
            ghcr.io/mindleaps/tracker/mindleaps-tracker:latest
            ghcr.io/mindleaps/tracker/mindleaps-tracker:${{ github.event.release.tag_name }}
